@import "tailwindcss";


.image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.918) 40%,transparent 100%);
    z-index: 1;
  
}